[client]
user=admin
password=letmein
host=db_cloud

[mysqld_exporter]
user=admin
password=letmein
collect.info_schema.processlist=true

[custom-metrics]
query=SELECT COUNT(*) as device_count FROM device;
